<!DOCTYPE html>
<html>
    <body>
        <h3>Word game helper</h3>
        <form method="POST" action="{% url 'find_words' %}">
            {% csrf_token %}
            <label for="size">Size</label>
            <input type="text" id="size" name="size" value="{{request.session.size}}">
            <label for="inclusions">Letters to be included</label>
            <input type="text" id="inclusions" name="inclusions" value="{{request.session.inclusions}}">
            <label for="exclusions">Letters to be excluded</label>
            <input type="text" id="exclusions" name="exclusions" value="{{request.session.exclusions}}">
            <input type="submit" value="Look for words!">
            <a href="{% url 'reset' %}">RESET</a>
        </form>

        {% if words %}
            <h3>Words that match your query</h3>
            <p>{{words}}</p>
        {% endif %}
        {% if error %}
            <h3>Errors</h3>
            <p>{{error}}</p>
        {% endif %}
    </body>
</html>