<!DOCTYPE html>
<html>
    <body>
        <h1>Student Details</h1>
        {% if editing %}
        <form method="post" action="{% url 'update_student' student.id %}">
            {% csrf_token %}
            <p>
                <label for="course">Course:</label>
                <input type="text" id="course" name="course" value="{{student.course}}">
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{student.name}}">
            </p>
            <p>
                <label for="roll_no">Roll Number:</label>
                <input type="text" id="roll_no" name="roll_no" value="{{student.roll_no}}">
            </p>
            <p>
                <input type="submit" value="EDIT">
            </p>
        </form>
        {% else %}
        <p>Course: {{student.course}}</p>
        <p>Name: {{student.name}}</p>
        <p>Roll Number: {{student.roll_no}} </p>

        <table style="border: 1px solid black">
            <tr style="border: 1px solid black">
                <th style="border: 1px solid black">Subject</th>
                <th style="border: 1px solid black">Score</th>
            </tr>
            {% for mark in marks %}
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">{{mark.subject}}</td>
                <td style="border: 1px solid black">{{mark.score}}</td>
                <td style="border: 1px solid black">
                    <a href="{% url 'edit_mark' student.id mark.id %}">EDIT</a>
                </td>
            </tr>
            {% endfor %}
            <form method="post" action="{% url 'add_mark' student.id %}">
                {% csrf_token %}
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black">
                        <input type="text" name="subject">    
                    </td>
                    <td style="border: 1px solid black">
                        <input type="text" name="score">    
                    </td>
                    <td>
                        <input type="submit" value="ADD">
                    </td>
                </tr>
            </form>
        </table>

        <p><a href="{% url 'update_student' student.id %}">EDIT</p>
        <p><a href="{% url 'delete_student' student.id %}">DELETE(cannot be undone)</a></p>
        {% endif %}
        <p><a href="{% url 'student_list' %}">All students</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </body>
</html>